Критерии оценки проекта (SQL)

1. CRUD (Create, Read, Update, Delete)
2. Where с объединением трёх таблиц в where
3. Вложенный select
4. Join
5. Агрегация
6. Триггеры, процедуры
7. Красивая структура бд
8. Связанное решение в серверной sql-базе данных
9. Скрипт с запросами
10. Docker

## 1. Данные

In [1]:
! pip install opendatasets --upgrade
import opendatasets as od

# {"username":"****","key":"****"}

od.download('https://www.kaggle.com/datasets/paradisejoy/top-hits-spotify-from-20002019')

Requirement already up-to-date: opendatasets in c:\users\sara7\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied, skipping upgrade: kaggle in c:\users\sara7\anaconda3\lib\site-packages (from opendatasets) (1.5.13)
Requirement already satisfied, skipping upgrade: click in c:\users\sara7\anaconda3\lib\site-packages (from opendatasets) (7.0)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\sara7\anaconda3\lib\site-packages (from opendatasets) (4.65.0)
Requirement already satisfied, skipping upgrade: python-slugify in c:\users\sara7\anaconda3\lib\site-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied, skipping upgrade: python-dateutil in c:\users\sara7\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.0)
Requirement already satisfied, skipping upgrade: six>=1.10 in c:\users\sara7\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.12.0)
Requirement already satisfied, skipping upgrade: certifi in c:\users\sara7\anaconda3\lib\site-packages (from kaggle->opendatasets) (2019.6.16)
Requirement already satisfied, skipping upgrade: requests in c:\users\sara7\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.22.0)
Requirement already satisfied, skipping upgrade: urllib3 in c:\users\sara7\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.25.11)
Requirement already satisfied, skipping upgrade: colorama; platform_system == "Windows" in c:\users\sara7\anaconda3\lib\site-packages (from tqdm->opendatasets) (0.4.1)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in c:\users\sara7\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\sara7\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\sara7\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.8)
Skipping, found downloaded files in ".\top-hits-spotify-from-20002019" (use force=True to force download)

In [2]:
import pandas as pd

[Top Hits Spotify from 2000-2019
](https://www.kaggle.com/datasets/paradisejoy/top-hits-spotify-from-20002019)

Датасет содержит 2000 лучших треков на Spotify с 2000 по 2019 год. Данные содержат около 18 различных параметров, такие как популярность, танцевальность, энергичность, громкость и т.д.

In [3]:
file =(f'top-hits-spotify-from-20002019/songs_normalize.csv')
music_df = pd.read_csv(file)

music_df.head(5)

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000014,0.3470,0.544,119.992,"rock, metal"
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop

### Data understanding

Датасет содержит 2000 песен и следующие параметры (с указанием формата):

* Исполнитель **(artist ---- str)**
* Название трека **(song ---- str)**
* Продолжительность трека в миллисекундах **(duration_ms ---- int)**
* Откровенность **(explicit ---- boolean)**: текст песни (не) могут считаться оскорбительными или неподходящими для детей
* Год выпуска трека **(year ---- int)**
* Популярность **(popularity ---- int)**: чем выше значение, тем популярнее песня
* Танцевальность **(danceability ---- float**): насколько трек подходит для танцев, основываясь на сочетании музыкальных элементов, включая темп, стабильность ритма, бит и т.д. Значение 0 соответствует наименее танцевальному, а значение 1 — наиболее танцевальному
* Энергичность **(energy ---- float)**: перцептивная мера интенсивности и активности от 0 до 1
* Тональность **(key ---- int)**, в которой находится трек. Целые числа сопоставляются с высотой тона, используя стандартную нотацию Pitch Class. Например. 0 = C, 1 = C♯/D♭, 2 = D и так далее. Если ключ не обнаружен, значение равно -1
* Громкость **(loudness ---- float)**: общая громкость дорожки в децибелах (дБ). Значения громкости усредняются по всей дорожке и полезны для сравнения относительной громкости дорожек. Обычно значения находятся в диапазоне от -60 до 0 дБ
* Модальность **(mode ---- int)** мажор или минор трека, тип гаммы, из которого получено его мелодическое содержание. Мажор представлен 1, а минор 0
* Речь **(speechiness ---- float)**: определяет наличие произнесенных слов в дорожке. Чем больше речи содержит запись, тем значение ближе к 1
* Акустика **(acousticness ---- float)**: показатель того, является ли трек акустическим. 1 означает высокую уверенность в том, что трек является акустическим
* Инструментальность **(instrumentalness ---- float)**: мера того, насколько мало в треке вокала (насколько он инструментальный). Звуки «ох» и «ааа» в этом контексте рассматриваются как инструментальные. Треки в стиле рэп или другие содержащие слова - «вокальные». Чем ближе значение инструментальности к 1, тем больше вероятность того, что трек не содержит вокального содержания
* Живое исполнение **(liveness ---- float)**: определяет присутствие аудитории в записи. Более высокие значения живости (выше 0,8) дает высокую вероятность того, что трек был исполнен вживую
* Валентность **(valence ---- float)**: мера от 0 до 1 описывающая музыкальную позитивность, передаваемую треком. Треки с высокой валентностью звучат более позитивно (например, счастливые, веселые, эйфорические), в то время как треки с низкой валентностью звучат более негативно (например, грустные, подавленные, злые)
* Темп **(tempo ---- float)**: общий предполагаемый темп дорожки в ударах в минуту (BPM)
* Жанр трека **(genre ---- text)**

In [4]:
music_df.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
artist              2000 non-null object
song                2000 non-null object
duration_ms         2000 non-null int64
explicit            2000 non-null bool
year                2000 non-null int64
popularity          2000 non-null int64
danceability        2000 non-null float64
energy              2000 non-null float64
key                 2000 non-null int64
loudness            2000 non-null float64
mode                2000 non-null int64
speechiness         2000 non-null float64
acousticness        2000 non-null float64
instrumentalness    2000 non-null float64
liveness            2000 non-null float64
valence             2000 non-null float64
tempo               2000 non-null float64
genre               2000 non-null object
dtypes: bool(1), float64(9), int64(5), object(3)
memory usage: 267.7+ KB

## 2. Соединение с сервером

In [5]:
!pip3 install mysql-connector-python

import mysql.connector

Requirement already satisfied: mysql-connector-python in c:\python311\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: C:\Python311\python.exe -m pip install --upgrade pip

![mysql_connections](mysql_connections.jpg)

In [6]:
con = mysql.connector.connect(host='localhost', port=3306, user='root', password='****')

In [7]:
cur = con.cursor()

## 3. Cоздание схемы, таблиц

In [8]:
# SCHEMA - top_hits_spotify
cur.execute('CREATE SCHEMA IF NOT EXISTS top_hits_spotify')

In [9]:
# TABLE - genres
cur.execute('''CREATE TABLE IF NOT EXISTS top_hits_spotify.genres (
  id_genre INT NOT NULL,
  genre TEXT NOT NULL,
  PRIMARY KEY (`id_genre`));''')

In [10]:
# TABLE - artists
cur.execute('''CREATE TABLE IF NOT EXISTS top_hits_spotify.artists (
  id_artist INT NOT NULL,
  artist TEXT NOT NULL,
  PRIMARY KEY (`id_artist`));''')

In [11]:
# TABLE - tracks
cur.execute('''CREATE TABLE IF NOT EXISTS top_hits_spotify.tracks (
  id_track INT NOT NULL,
  track_title TEXT NOT NULL,
  id_artist INT NOT NULL,
  PRIMARY KEY (`id_track`));''')

In [12]:
# TABLE - tracks_info
cur.execute('''CREATE TABLE IF NOT EXISTS top_hits_spotify.tracks2info (
  id_track INT NOT NULL,
  duration_ms INT NOT NULL,
  explicit INT NOT NULL,
  year INT NOT NULL,
  popularity INT NOT NULL,
  danceability FLOAT NOT NULL,
  energy FLOAT NOT NULL,
  music_key INT NOT NULL,
  loudness FLOAT NOT NULL,
  mode INT NOT NULL,
  speechiness FLOAT NOT NULL,
  acousticness FLOAT NOT NULL,
  instrumentalness FLOAT NOT NULL,
  liveness FLOAT NOT NULL,
  valence FLOAT NOT NULL,
  tempo FLOAT NOT NULL,  
  PRIMARY KEY (`id_track`));''')

In [13]:
# TABLE - tracks2genres
cur.execute('''CREATE TABLE IF NOT EXISTS top_hits_spotify.tracks2genres (
  id_track INT NOT NULL,
  id_genre INT NOT NULL);''')

In [14]:
con = mysql.connector.connect(host='localhost', port=3306, database='top_hits_spotify', 
                              user='root', password='Dexter_2015!')

In [15]:
cur = con.cursor()

![music_db](music_db_sceme.jpg)

## 4. Заполнение БД

In [16]:
# функция для кодировки уникальных значений колонки целочисленными ID

def encode_values(values):
    unique_values = list(values.unique())
    dict_codes = {}

    for i, name in enumerate(unique_values):
        dict_codes[name] = i+1

    return dict_codes

### 4.1. Artists

In [17]:
# посмотрим, сколько уникальных исполнителей у нас есть (и какие они)

print('Уникальных исполнителей: ', len(music_df['artist'].unique()))

Уникальных исполнителей:  835

In [18]:
# кодируем исполнителей
dict_artists = encode_values(music_df['artist'])

In [19]:
# добавляем сопоставление в DF

music_df['artist_id'] = [dict_artists[music_df['artist'][i]] for i in range(music_df.shape[0])]

In [20]:
music_df = music_df.astype({'artist_id': int})

заполняем таблицу artists в БД:

In [21]:
for item in dict_artists.items():    
    cur.execute('''INSERT INTO top_hits_spotify.artists (id_artist, artist)
           VALUES (%s ,%s)''',(item[1], item[0]) )
    
    con.commit()

### 4.2. Tracks

In [22]:
# присваиваем id каждому треку

music_df['track_id'] = [i+1 for i in range(music_df.shape[0])]

In [23]:
music_df = music_df.astype({'track_id': int})

заполняем таблицу tracks в БД:

In [24]:
%%time

for i in range(music_df.shape[0]):
    track_id = int(music_df['track_id'][i])
    track = music_df['song'][i]
    artist_id = int(music_df['artist_id'][i])
    cur.execute('''INSERT INTO top_hits_spotify.tracks (id_track, track_title, id_artist)
           VALUES (%s, %s, %s)''',(track_id, track, artist_id)  )
    
    con.commit()

Wall time: 4.78 s

### 4.3. Genres

In [25]:
from collections import Counter

In [26]:
# посмотрим, сколько уникальных значений жанров у нас есть (и какие они)

print('Уникальных жанров: ', len(music_df['genre'].unique()))
print(list(music_df['genre'].unique()))

# бывает по несколько значений в ячейке... что делать?

Уникальных жанров:  59
['pop', 'rock, pop', 'pop, country', 'rock, metal', 'hip hop, pop, R&B', 'hip hop', 'pop, rock', 'pop, R&B', 'Dance/Electronic', 'pop, Dance/Electronic', 'rock, Folk/Acoustic, easy listening', 'metal', 'hip hop, pop', 'R&B', 'pop, latin', 'Folk/Acoustic, rock', 'pop, easy listening, Dance/Electronic', 'rock', 'rock, blues, latin', 'pop, rock, metal', 'rock, pop, metal', 'hip hop, R&B', 'pop, Folk/Acoustic', 'set()', 'hip hop, pop, latin', 'hip hop, Dance/Electronic', 'hip hop, pop, rock', 'World/Traditional, Folk/Acoustic', 'Folk/Acoustic, pop', 'rock, easy listening', 'World/Traditional, hip hop', 'hip hop, pop, R&B, latin', 'rock, blues', 'rock, R&B, Folk/Acoustic, pop', 'latin', 'pop, R&B, Dance/Electronic', 'World/Traditional, rock', 'pop, rock, Dance/Electronic', 'pop, easy listening, jazz', 'rock, Dance/Electronic', 'World/Traditional, pop, Folk/Acoustic', 'country', 'hip hop, pop, Dance/Electronic', 'hip hop, pop, country', 'World/Traditional, rock, pop', 'World/Traditional, pop', 'hip hop, pop, R&B, Dance/Electronic', 'pop, R&B, easy listening', 'rock, pop, Dance/Electronic', 'Folk/Acoustic, rock, pop', 'rock, pop, metal, Dance/Electronic', 'pop, rock, Folk/Acoustic', 'country, latin', 'rock, classical', 'rock, Folk/Acoustic, pop', 'hip hop, rock, pop', 'easy listening', 'hip hop, latin, Dance/Electronic', 'hip hop, country']

In [27]:
# соберём уникальные тэги жанров
genre_vocab = Counter() # и бонусом инфу об их частотности
lengths = [] # узнаем, как много тэгов может одновременно писаться в одной клеточке

for i in range(music_df.shape[0]):
    sep_genres = music_df['genre'][i].split(', ')
    lengths.append(len(sep_genres))
    genre_vocab.update(sep_genres)

print('Максимальное кол-во жанров в ячейке: ', max(lengths))
print(genre_vocab)

Максимальное кол-во жанров в ячейке:  4
Counter({'pop': 1633, 'hip hop': 778, 'R&B': 452, 'Dance/Electronic': 390, 'rock': 234, 'metal': 66, 'latin': 64, 'set()': 22, 'country': 21, 'Folk/Acoustic': 20, 'World/Traditional': 10, 'easy listening': 7, 'blues': 4, 'jazz': 2, 'classical': 1})

In [28]:
# выясняем, что такое set()?
# data.loc[data['genre'] == 'set()']
# оказалось, что это неопределённый жанр
# будем кодировать его 0

def encode_genre_values(unique_values):
    dict_codes = {}

    dict_codes['set()'] = 0
    unique_values.remove('set()') # чтобы дальше нумерация шла по порядку без пропусков
    for i, name in enumerate(unique_values):
        dict_codes[name] = int(i+1)

    return dict_codes

dict_genres = encode_genre_values(list(genre_vocab.keys()))
print(dict_genres)

{'set()': 0, 'pop': 1, 'rock': 2, 'country': 3, 'metal': 4, 'hip hop': 5, 'R&B': 6, 'Dance/Electronic': 7, 'Folk/Acoustic': 8, 'easy listening': 9, 'latin': 10, 'blues': 11, 'World/Traditional': 12, 'jazz': 13, 'classical': 14}

заполняем таблицу genres в БД:

In [29]:
for item in dict_genres.items():    
    cur.execute('''INSERT INTO top_hits_spotify.genres (id_genre, genre)
           VALUES (%s ,%s)''',(item[1], item[0]) )
    
    con.commit()

### 4.4. Tracks2genres

In [30]:
import numpy as np

заполняем таблицу tracks2genres в БД:

In [31]:
for i in range(music_df.shape[0]):
    sep_genres = music_df['genre'][i].split(', ')
    track_id = int(music_df['track_id'][i])
    
    if len(sep_genres) == 1:
        cur.execute('''INSERT INTO top_hits_spotify.tracks2genres (id_track, id_genre) 
        VALUES (%s ,%s)''',(track_id, dict_genres[sep_genres[0]]) )
        con.commit()
    
    if len(sep_genres) > 1:
        for item in sep_genres:
            cur.execute('''INSERT INTO top_hits_spotify.tracks2genres (id_track, id_genre) 
            VALUES (%s ,%s)''',(track_id, dict_genres[item]) )
            con.commit()

### 4.5. Tracks2info

In [32]:
# штрих - привести bool в 'explicit' к числовому значению

music_df['explicit'] = music_df['explicit'].replace({True: 1, False: 0})

заполняем таблицу tracks2info в БД:

In [33]:
for i in range(music_df.shape[0]):
    track_id = int(music_df['track_id'][i])
    duration_ms = int(music_df['duration_ms'][i])
    explicit = int(music_df['explicit'][i])
    year = int(music_df['year'][i])
    popularity = int(music_df['popularity'][i])
    danceability = float(music_df['danceability'][i])
    energy = float(music_df['energy'][i])
    music_key = int(music_df['key'][i])
    loudness = float(music_df['loudness'][i])
    mode = int(music_df['mode'][i])
    speechiness = float(music_df['speechiness'][i])
    acousticness = float(music_df['acousticness'][i])
    instrumentalness = float(music_df['instrumentalness'][i])
    liveness = float(music_df['liveness'][i])
    valence = float(music_df['valence'][i])
    tempo = float(music_df['tempo'][i])

    
    cur.execute('''INSERT INTO top_hits_spotify.tracks2info (id_track, duration_ms, explicit,
    year, popularity, danceability, energy, music_key, loudness, mode, speechiness, acousticness,
    instrumentalness, liveness, valence, tempo) 
    VALUES (%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s)''',
                (track_id, duration_ms, explicit,
    year, popularity, danceability, energy, music_key, loudness, mode, speechiness, acousticness,
    instrumentalness, liveness, valence, tempo) )
    con.commit()

Ура, наша база заполнена!

Теперь можно с ней всячески упражняться.

## 5. Запросы к БД, Read, Update & Delete

В предыдущих разделах мы уже показали создание базы и таблиц в ней (критерий CREATE), а также продемонстрировали возможность класть в неё данные (критерий UPDATE). Для полного CRUD осталось прочитать или удалить что-то из базы.

In [34]:
con = mysql.connector.connect(host='localhost', port=3306, database='top_hits_spotify', 
                              user='root', password='Dexter_2015!')

In [35]:
cur = con.cursor()

### 5.0. UPDATE

In [106]:
# заменим все нули популяррности на 1

req0 = '''UPDATE tracks2info
SET popularity = 1
WHERE popularity = 0;'''

cur.execute(req0)
con.commit()

Проверимся:

In [108]:
req01 = '''SELECT * FROM tracks2info
WHERE popularity = 0;'''

cur.execute(req01)
result0 = cur.fetchall()

In [109]:
print(len(result0))
result0

0

[]

Успех!

### 5.1. SELECT + INNER JOIN

In [36]:
# найдём все треки (название + исполнитель) с мажорной модальностью
# и 2010 годом выпуска

req = '''SELECT T.track_title, A.artist 
FROM tracks T
INNER JOIN artists A 
ON T.id_artist = A.id_artist
INNER JOIN tracks2info TI 
ON TI.id_track = T.id_track 
WHERE TI.mode = 1 AND TI.year = 2010;'''

In [37]:
cur.execute(req)
result = cur.fetchall()

In [38]:
print(len(result))
result

57

[('Hey Baby (Radio Mix)', 'DJ Ötzi'),
 ('When Love Takes Over (feat. Kelly Rowland)', 'David Guetta'),
 ('Sober', 'P!nk'),
 ('Whatcha Say', 'Jason Derulo'),
 ('Just the Way You Are', 'Bruno Mars'),
 ('Love The Way You Lie', 'Eminem'),
 ('Memories (feat. Kid Cudi)', 'David Guetta'),
 ('Dynamite', 'Taio Cruz'),
 ('Like A G6', 'Far East Movement'),
 ('Barbra Streisand - Radio Edit', 'Duck Sauce'),
 ('Gold Dust - Radio Edit', 'DJ Fresh'),
 ('Break Your Heart', 'Taio Cruz'),
 ("Club Can't Handle Me (feat. David Guetta)", 'Flo Rida'),
 ('Eenie Meenie', 'Sean Kingston'),
 ('No Hands (feat. Roscoe Dash & Wale)', 'Waka Flocka Flame'),
 ('Written in the Stars (feat. Eric Turner)', 'Tinie Tempah'),
 ('We No Speak Americano (JT Radio Edit)', 'Yolanda Be Cool'),
 ('Pass Out', 'Tinie Tempah'),
 ('Bottoms Up (feat. Nicki Minaj)', 'Trey Songz'),
 ('Seek Bromance - Avicii’s Vocal Edit', 'Tim Berg'),
 ('My First Kiss (feat. Ke$ha)', '3OH!3'),
 ('How Low', 'Ludacris'),
 ('Blah Blah Blah (feat. 3OH!3)', 'Kesha'),
 ('All I Do Is Win (feat. T-Pain, Ludacris, Snoop Dogg & Rick Ross)',
  'DJ Khaled'),
 ('My Chick Bad', 'Ludacris'),
 ('Just A Dream', 'Nelly'),
 ("What's My Name?", 'Rihanna'),
 ('Impossible', 'Shontelle'),
 ('Whatcha Say', 'Jason Derulo'),
 ('Over', 'Drake'),
 ('Kickstarts', 'Example'),
 ('Higher', 'The Saturdays'),
 ("Hey Daddy (Daddy's Home)", 'Usher'),
 ('Your Love Is My Drug', 'Kesha'),
 ("Ridin' Solo", 'Jason Derulo'),
 ("Nothin' on You (feat. Bruno Mars)", 'B.o.B'),
 ('Teenage Dream', 'Katy Perry'),
 ('Need You Now', 'Lady A'),
 ('Back To December', 'Taylor Swift'),
 ('Animal', 'Neon Trees'),
 ('Dancing On My Own', 'Robyn'),
 ('If I Die Young', 'The Band Perry'),
 ('Firework', 'Katy Perry'),
 ('S&M', 'Rihanna'),
 ('More - RedOne Jimmy Joker Remix', 'Usher'),
 ('Down On Me', 'Jeremih'),
 ('No Hands (feat. Roscoe Dash & Wale)', 'Waka Flocka Flame'),
 ('We R Who We R', 'Kesha'),
 ('All Of The Lights', 'Kanye West'),
 ('Coming Home', 'Diddy - Dirty Money'),
 ("What's My Name?", 'Rihanna'),
 ('Super Bass', 'Nicki Minaj'),
 ('Dirt Road Anthem', 'Jason Aldean'),
 ("F**kin' Perfect", 'P!nk'),
 ('Raise Your Glass', 'P!nk'),
 ('Marry You', 'Bruno Mars'),
 ('If I Die Young', 'The Band Perry')]

Заметила, что повторяется трек Рианны "What's My Name?", посмотрим-ка на него:

In [39]:
req_1 = '''SELECT T.id_track, T.track_title, A.artist FROM tracks T
INNER JOIN artists A 
ON T.id_artist = A.id_artist
INNER JOIN tracks2info TI 
ON TI.id_track = T.id_track 
WHERE A.artist = "Rihanna" AND T.track_title = "What's My Name?";'''

In [40]:
cur.execute(req_1)
result_1 = cur.fetchall()

In [41]:
print(len(result_1))
result_1

2

[(1067, "What's My Name?", 'Rihanna'), (1159, "What's My Name?", 'Rihanna')]

Ага, дубль в данных. Ну, тогда мы его удалим:

### 5.2. DELETE + WHERE 3 таблицы

In [42]:
req_2 = '''DELETE tracks, tracks2genres, tracks2info FROM tracks 
JOIN tracks2genres ON
tracks.id_track = tracks2genres.id_track
JOIN tracks2info ON
tracks.id_track = tracks2info.id_track
JOIN artists ON
artists.id_artist = tracks.id_artist
WHERE tracks2info.id_track = 1159 AND artists.artist = "Rihanna" AND tracks.track_title = "What's My Name?";'''

In [43]:
cur.execute(req_2)
con.commit()

Проверимся:

In [44]:
req_21 = '''SELECT T.id_track, T.track_title, A.artist FROM tracks T
INNER JOIN artists A 
ON T.id_artist = A.id_artist
INNER JOIN tracks2info TI 
ON TI.id_track = T.id_track 
WHERE A.artist = "Rihanna" AND T.track_title = "What's My Name?";'''

In [45]:
cur.execute(req_21)
result_21 = cur.fetchall()

In [46]:
print(len(result_21))
result_21

1

[(1067, "What's My Name?", 'Rihanna')]

Успех!

### 5.3. Вложенный SELECT

In [47]:
# найдём самые популярные (>85) и самые энергичные (>0.85) треки
# из них выберем треки в жанре "metal"
# и выведем их в формате "id трэка + название + исполнитель + жанр"

req3 = '''SELECT T.id_track, T.track_title, A.artist, G.genre FROM tracks T
INNER JOIN artists A 
ON T.id_artist = A.id_artist
INNER JOIN tracks2genres TG
ON TG.id_track = T.id_track 
INNER JOIN genres G
ON G.id_genre = TG.id_genre
WHERE T.id_track IN (
        SELECT id_track FROM tracks2info TI
        WHERE TI.popularity > 75 AND TI.energy > 0.8) AND G.genre = "metal"'''

In [48]:
cur.execute(req3)
result3 = cur.fetchall()

In [49]:
print(len(result3))
result3

10

[(4, "It's My Life", 'Bon Jovi', 'metal'),
 (21, 'In the End', 'Linkin Park', 'metal'),
 (78, 'Kryptonite', '3 Doors Down', 'metal'),
 (216, 'In the End', 'Linkin Park', 'metal'),
 (319, 'Bring Me To Life', 'Evanescence', 'metal'),
 (417, 'Numb', 'Linkin Park', 'metal'),
 (600, 'Best of You', 'Foo Fighters', 'metal'),
 (731, "What I've Done", 'Linkin Park', 'metal'),
 (774, 'The Pretender', 'Foo Fighters', 'metal'),
 (848, "You're Gonna Go Far, Kid", 'The Offspring', 'metal')]

Все получилось, но надо удалить ещё один дубль (не буду выносить в отдельный раздел, здесь ничего нового нет):

In [50]:
req_31 = '''DELETE tracks, tracks2genres, tracks2info FROM tracks 
JOIN tracks2genres ON
tracks.id_track = tracks2genres.id_track
JOIN tracks2info ON
tracks.id_track = tracks2info.id_track
WHERE tracks.id_track = 216;'''

cur.execute(req_31)
con.commit()

### 5.3.1. Вложенный SELECT + WHERE 3 таблицы

In [75]:
# найдём все latin треки
# из них выберем самые длинные
# и из них - треки 3х конкретных артистов
# и выведем их в формате "длительность + название + исполнитель"

req32 = '''SELECT TI.duration_ms, T.track_title, A.artist FROM tracks T
INNER JOIN artists A 
ON T.id_artist = A.id_artist
INNER JOIN tracks2info TI
ON T.id_track = TI.id_track
WHERE T.id_track IN (
        SELECT id_track FROM tracks2genres TG
        INNER JOIN genres G
        ON G.id_genre = TG.id_genre
        WHERE G.genre = "latin") AND  TI.duration_ms > 250000 
        AND A.Artist IN ("Ricky Martin", "Nelly Furtado", "Anuel AA")'''

In [76]:
cur.execute(req32)
result32 = cur.fetchall()

In [77]:
print(len(result32))
result32

6

[(280626, 'She Bangs - English Version', 'Ricky Martin'),
 (252706,
  'Nobody Wants to Be Lonely (with Christina Aguilera)',
  'Ricky Martin'),
 (276106, 'Turn Off The Light', 'Nelly Furtado'),
 (258893, 'Maneater', 'Nelly Furtado'),
 (301714, 'China', 'Anuel AA'),
 (258800, 'Secreto', 'Anuel AA')]

### 5.4. OUTER JOINS

Если я правильно понимаю, они служат для ситуаций, когда в таблицах есть несоответствия..

В моей БД такого быть не должно, поэтому сейчас искусственно создадим такую ситуацию:

In [58]:
# неопознанный жанр set(): 0
req_40 = '''DELETE tracks2info FROM tracks2info 
JOIN tracks2genres ON
tracks2genres.id_track = tracks2info.id_track
WHERE tracks2genres.id_genre = 0;'''

cur.execute(req_40)
con.commit()

# теперь в tracks и tracks2genres такие треки есть, 
# а в tracks2info по ним информации нет
# (и жанр такой в genres остался)

In [63]:
# RIGHT JOIN

req41 = '''SELECT * FROM tracks T
RIGHT JOIN tracks2info TI
ON TI.id_track = T.id_track
RIGHT JOIN tracks2genres TG
ON TG.id_track = T.id_track
RIGHT JOIN genres G
ON TG.id_genre = G.id_genre
WHERE G.id_genre = 0'''

In [64]:
cur.execute(req41)
result41 = cur.fetchall()

In [65]:
print(len(result41))
result41

22

[(None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  96,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  217,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  292,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  429,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  456,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  482,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  546,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  646,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  711,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  730,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  794,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  795,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  950,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1058,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1272,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1321,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1407,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1455,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1488,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1774,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1842,
  0,
  0,
  'set()'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1977,
  0,
  0,
  'set()')]

22 - правильное число, именно столько треков с неопознанным жанром set() у нас было. Мы можем видеть, что присоединившиеся колонки из tracks2info все пустые, а дальше идут сложившиеся колонки из tracks2genres (id_track и id_genre) и genres (id_genre и genre)

In [66]:
# LEFT JOIN

req42 = '''SELECT * FROM tracks T
LEFT JOIN tracks2info TI
ON TI.id_track = T.id_track
LEFT JOIN tracks2genres TG
ON TG.id_track = T.id_track
LEFT JOIN genres G
ON TG.id_genre = G.id_genre
WHERE G.id_genre = 0'''

In [67]:
cur.execute(req42)
result42 = cur.fetchall()

In [68]:
print(len(result42))
result42

22

[(96,
  'Teenage Dirtbag',
  80,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  96,
  0,
  0,
  'set()'),
 (217,
  'The Ketchup Song (Aserejé) - Spanglish Version',
  154,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  217,
  0,
  0,
  'set()'),
 (292,
  'Crossroads - Radio Edit',
  188,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  292,
  0,
  0,
  'set()'),
 (429,
  'Amazing',
  252,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  429,
  0,
  0,
  'set()'),
 (456,
  'Cha Cha Slide - Hardino Mix',
  261,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  456,
  0,
  0,
  'set()'),
 (482,
  "Fuck It (I Don't Want You Back)",
  274,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  482,
  0,
  0,
  'set()'),
 (546,
  'Almost Here',
  298,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  546,
  0,
  0,
  'set()'),
 (646,
  'Thunder in My Heart Again (Radio Edit)',
  334,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  646,
  0,
  0,
  'set()'),
 (711,
  'Let Me Think About It',
  362,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  711,
  0,
  0,
  'set()'),
 (730,
  'The Creeps - Fedde Le Grand Radio Mix',
  367,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  730,
  0,
  0,
  'set()'),
 (794,
  'Wait for You',
  393,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  794,
  0,
  0,
  'set()'),
 (795,
  "Sweetest Girl (Dollar Bill) (feat. Akon, Lil' Wayne & Niia)",
  394,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  795,
  0,
  0,
  'set()'),
 (950,
  'Jai Ho! (You Are My Destiny)',
  454,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  950,
  0,
  0,
  'set()'),
 (1058,
  "Wavin' Flag",
  489,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1058,
  0,
  0,
  'set()'),
 (1272,
  'Somebody That I Used To Know',
  559,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1272,
  0,
  0,
  'set()'),
 (1321,
  'Love Me Again',
  578,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1321,
  0,
  0,
  'set()'),
 (1407,
  'Rude',
  604,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1407,
  0,
  0,
  'set()'),
 (1455,
  'Stolen Dance',
  627,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1455,
  0,
  0,
  'set()'),
 (1488,
  'Somebody',
  638,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1488,
  0,
  0,
  'set()'),
 (1774,
  'Juju on That Beat (TZ Anthem)',
  747,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1774,
  0,
  0,
  'set()'),
 (1842,
  'German',
  765,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1842,
  0,
  0,
  'set()'),
 (1977,
  'On A Roll',
  826,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1977,
  0,
  0,
  'set()')]

Когда мы меняем RIGHT на LEFT, левая таблица (упомянутая до Join) оказывается в приоритете, и уже к ней прибавляются значения других колонок: в выдаче мы видим, что в начале каждой строки появилась инфа из таблицы tracks.

Надо теперь за собой почистить:

In [69]:
# неопознанный жанр set(): 0
req_43 = '''DELETE tracks, tracks2genres, genres FROM tracks2genres 
JOIN tracks ON
tracks.id_track = tracks2genres.id_track
JOIN genres ON
genres.id_genre = tracks2genres.id_genre
WHERE tracks2genres.id_genre = 0;'''

cur.execute(req_43)
con.commit()

Проверяемся:

In [72]:
req_44 = '''SELECT T.id_track, G.genre FROM tracks T
INNER JOIN tracks2genres TG 
ON TG.id_track = T.id_track
INNER JOIN genres G 
ON TG.id_genre = G.id_genre 
WHERE TG.id_genre = 0'''

In [73]:
cur.execute(req_44)
result44 = cur.fetchall()

In [74]:
print(len(result44))
result44

0

[]

Успех!

### 5.5. Аггрегация

разные вычисления на наборе значений

In [89]:
# Максимальная громкость по жанрам

req5 = '''SELECT G.genre, MAX(TI.loudness) as max_loudness FROM tracks2info TI
INNER JOIN tracks2genres TG 
ON TG.id_track = TI.id_track
INNER JOIN genres G 
ON TG.id_genre = G.id_genre
GROUP BY G.genre
ORDER BY max_loudness DESC'''

In [90]:
cur.execute(req5)
result5 = cur.fetchall()

In [91]:
result5

[('pop', -0.276),
 ('Dance/Electronic', -0.276),
 ('hip hop', -1.19),
 ('R&B', -1.916),
 ('rock', -2.042),
 ('metal', -2.336),
 ('country', -2.569),
 ('latin', -2.652),
 ('Folk/Acoustic', -3.152),
 ('easy listening', -3.196),
 ('World/Traditional', -3.974),
 ('blues', -4.23),
 ('classical', -5.798),
 ('jazz', -13.2)]

In [94]:
# Максимальная средняя продолжительность по жанрам

req51 = '''SELECT G.genre, AVG(TI.duration_ms) as avr_duration_ms FROM tracks2info TI
INNER JOIN tracks2genres TG 
ON TG.id_track = TI.id_track
INNER JOIN genres G 
ON TG.id_genre = G.id_genre
GROUP BY G.genre
ORDER BY avr_duration_ms DESC'''

In [95]:
cur.execute(req51)
result51 = cur.fetchall()

In [96]:
result51

[('blues', Decimal('244643.2500')),
 ('R&B', Decimal('239289.7650')),
 ('easy listening', Decimal('234931.0000')),
 ('hip hop', Decimal('234086.4607')),
 ('metal', Decimal('233847.0154')),
 ('pop', Decimal('228631.8640')),
 ('latin', Decimal('227674.8594')),
 ('rock', Decimal('227672.7124')),
 ('jazz', Decimal('224813.0000')),
 ('country', Decimal('222226.0476')),
 ('Folk/Acoustic', Decimal('220183.6500')),
 ('classical', Decimal('219560.0000')),
 ('World/Traditional', Decimal('219063.8000')),
 ('Dance/Electronic', Decimal('216428.1205'))]

Удобнее всего группировать по жанрам, поэтому так и делала, но могу и по другим столбцам!

In [103]:
# кол-во треков по музыкальным тональностям

req52 ='''SELECT TI.music_key, COUNT(TI.music_key) as count_music_key FROM tracks2info TI
GROUP BY TI.music_key
ORDER BY TI.music_key ASC'''

In [104]:
cur.execute(req52)
result52 = cur.fetchall()

In [105]:
result52

[(0, 192),
 (1, 263),
 (2, 155),
 (3, 59),
 (4, 124),
 (5, 181),
 (6, 153),
 (7, 197),
 (8, 171),
 (9, 156),
 (10, 128),
 (11, 197)]